<div class="featured_records section-{{ section.id }}-padding gradient color-{{ section.settings.section_color_scheme }}">
    <div class="page-width">
        <div class="featured_records_desktop">
            {% for block in section.blocks %}
                
                {% assign product = block.settings.product %}

                <div class="featured_record">
                    <div class="featured_record_content">
                        <span>{{ product.metafields.custom.artist }}</span>
                        <h1>{{ product.title }}</h1>
                        <p>{{ block.settings.text }}</p>
                        {% if block.settings.button_label != blank %}
                            <a href="{{ product.url }}" class="button">{{ block.settings.button_label }}</a>
                        {% else %}
                            <a href="{{ product.url }}" class="button">Shop Now</a>
                        {%  endif %}
                    </div>
                    <div class="featured_record_image">
                        <img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.title }}">
                    </div>  
                </div>
                
            {% endfor %}
            <div class="featured_records_tabs">
                {% for block in section.blocks %}
                    {% assign product = block.settings.product %} 
                    <div class="featured_record_tab">
                        <button>{{ product.metafields.custom.artist }}</button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const records = document.querySelectorAll('.featured_record');
        const tabs = document.querySelectorAll('.featured_record_tab button');

        records[0].classList.add("active");
        tabs[0].classList.add("active");

        tabs.forEach((tab, index) => {
            tab.addEventListener("click", () => {
                records.forEach(record => record.classList.remove("active"));
                tabs.forEeach(tab => tab.classList.remove("active"));

                records[index].classList.add("active");
                tabs[index].classList.add("active");
            })
        })
    });
</script>

{% schema %}
{
    "name": "Featured Records",
    "settings": [
        {
            "type": "color_scheme",
            "id": "section_color_scheme",
            "label": "Color Scheme",
            "default": "scheme-1"
        }
    ],
    "blocks": [
        {
            "name": "Product",
            "type": "product",
            "limit": 6,
            "settings": [
                {
                    "type": "product",
                    "id": "product",
                    "label": "Product"
                },
                {
                    "type": "textarea",
                    "id": "text",
                    "label": "Text"
                },
                {
                    "type": "text",
                    "id": "button_label",
                    "label": "Button Label"
                }
            ]

        }
    ],
    "presets": [
        {
            "name": "Featured Records"
        }
    ]
}
{% endschema %}